/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Header */
header {
    display: flex;
    align-items: center;
    background-color: #fff; /* Assuming you want a white background for the header */
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Subtle shadow for depth */
    position: relative; /* Ensures the logo stays within the header */
}

.logo img {
    height: 80px; /* Logo height */
}

/* Navbar */
ul.navbar {
    display: flex;
    justify-content: center;
    flex-grow: 1; /* Take available space */
    padding: 0;
    margin-left: 20px; /* Give some space from the logo */
}

ul.navbar li {
    list-style: none;
    margin: 0 10px;
}

ul.navbar a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    padding: 8px 16px;
    transition: color 0.3s ease;
}

ul.navbar a:hover {
    color: #d9534f;
}

/* Team Selection Form */
#teamselect {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

#teamselect h1 {
    text-align: center;
    margin-bottom: 20px;
}

.formgroup {
    margin-bottom: 20px;
}

.formgroup label {
    font-size: 18px;
    margin-bottom: 5px;
}

.formgroup input[type="text"],
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

/* Buttons */
button {
    padding: 10px 15px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background: #e7e7e7;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #d7d7d7;
}

/* Add any media queries as necessary */


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    animation-name: animatetop;
    animation-duration: 0.4s;
}

/* Add Animation */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content {
    display: flex;
    align-items: center; /* Vertically centers the items within the container */
    justify-content: flex-start; /* Aligns items to the start, ensuring text is on the left */
    text-align: left; /* Ensures text alignment is to the left for the text content */
}

.text-content {
    /* Adjusts the width as needed to ensure text doesn't take up full width */
    flex: 1;
    max-width: 60%; /* Adjust this value based on your layout/design needs */
}

#ins {
    /* Keeps the image to the right and adjusts size */
    width: 40%; /* Adjust this value to control the image size */
    height: auto; /* Maintains the aspect ratio of the image */
    margin-left: 20px; /* Adds some space between the text and the image */
}


/*Team select colour swatch*/
.color-swatch {
    display: inline-block;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: 2px solid #fff; /* White border for visibility */
}

#p1-red, #p2-red { background-color: red; }
#p1-blue, #p2-blue { background-color: blue; }

.color-swatch.selected {
    border-color: #000; /* Black border to indicate selection */
}

/*about page columns*/

ul.dash {
    list-style-type: none; /* Removes default bullets */
    padding: 0; /* Optional: Adjusts padding */
    margin: 0; /* Optional: Adjusts margin */
  }
  
  ul.custom-dash li::before {
    content: "- "; /* Adds the dash before each list item */
    padding-right: 5px; /* Adjusts spacing between the dash and the list item text */
  }
  

main .content-container {
    display: flex;
    flex-direction: row; /* Ensure side-by-side layout */
    align-items: flex-start; /* Align at the top */
    justify-content: space-between; /* Space between text and image */
    padding: 65px; /* Add padding around the content for spacing */
}

main .content-container .text-content {
    flex: 1; /* Allows text content to grow and use available space */
    padding-right: 65px; /* Adds some space between the text and the image */
    padding-left: 65px;
}

main .content-container .image-content {
    flex-basis: 50%; /* Initial size of the image container */
    display: flex; /* Use flexbox for centering image */
    justify-content: center; /* Center image horizontally */
    align-items: center; /* Center image vertically */
}

@media (max-width: 768px) {
    main .content-container {
        flex-direction: column-reverse; /* Stack image above text on smaller screens */
    }

    main .content-container .text-content,
    main .content-container .image-content {
        flex-basis: auto; /* Allow containers to adjust their size automatically */
        padding: 0; /* Remove padding for a tighter layout on smaller screens */
    }
}
  

/* Game */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

#gameBoard {
    display: grid;
    grid-template-columns: repeat(7, 75px); /* Increase the size of the slots */
    grid-gap: 10px; /* Adjust spacing between the slots */
    justify-content: center;
    padding: 20px; /* Increased padding for better visual */
    background-color: #007BFF; /* Optional: Adds a background color to the game board */
    border-radius: 10px; /* Optional: Rounds the corners of the game board */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Optional: Adds a subtle shadow to the game board */
}

.circle {
    width: 75px; /* Increased size of circles */
    height: 75px; /* Increased size of circles */
    background-color: #FFF;
    border: 2px solid #007BFF; /* Gives a border to the circle, matching the game board background */
    border-radius: 50%;
    cursor: pointer;
    display: flex; /* Ensures content (if any) is centered */
    align-items: center;
    justify-content: center;
}

#scoreboard {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 1.2em; /* Increases the font size for better visibility */
    background-color: #F8F9FA; /* Optional: Adds a background color to the scoreboard */
    border-radius: 5px; /* Optional: Rounds the corners of the scoreboard */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Optional: Adds a subtle shadow to the scoreboard */
    order: 1;
}

#resetBtn {
    display: block;
    padding: 10px 20px;
    margin-top: 20px; /* Space above the button */
    margin-left: auto; /* Aligns the button to the right */
    margin-right: 0; /* Ensures it sticks to the right */
    background-color: #007bff; /* Example color */
    color: white; /* Text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}


/*Footer for all pages*/
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    box-sizing: border-box; /* Ensures padding does not affect the total width */
    position: absolute;
    bottom: 0;
    left: 0;
}

footer a {
    color: #6c63ff;
    text-decoration: none;
}

.footer-content p {
    margin: 5px 0;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}
