* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    background-color: #fff; 
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
    position: relative; /
}

.logo img {
    height: 80px; 
}

ul.navbar {
    display: flex;
    justify-content: center;
    flex-grow: 1; 
    padding: 0;
    margin-left: 20px;
}

ul.navbar li {
    list-style: none;
    margin: 0 10px;
}

ul.navbar a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    padding: 8px 16px;
    transition: color 0.3s ease;
}

ul.navbar a:hover {
    color: #d9534f;
}

#teamselect {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

#teamselect h1 {
    text-align: center;
    margin-bottom: 20px;
}

.formgroup {
    margin-bottom: 20px;
}

.formgroup label {
    font-size: 18px;
    margin-bottom: 5px;
}

.formgroup input[type="text"],
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}


button {
    padding: 10px 15px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background: #e7e7e7;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #d7d7d7;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}


.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%; 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    animation-name: animatetop;
    animation-duration: 0.4s;
}


@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}


.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
}

.text-content {
    flex: 1;
    max-width: 60%;
}

#ins {
    width: 40%; 
    height: auto; 
    margin-left: 20px;
}



.color-swatch {
    display: inline-block;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: 2px solid #fff; 
}

#p1-red, #p2-red { background-color: red; }
#p1-blue, #p2-blue { background-color: blue; }

.color-swatch.selected {
    border-color: #000; 
}



ul.dash {
    list-style-type: none;
    padding: 0; 
    margin: 0; 
  }
  
  ul.custom-dash li::before {
    content: "- "; 
    padding-right: 5px; 
  }
  

main .content-container {
    display: flex;
    flex-direction: row; 
    align-items: flex-start; 
    justify-content: space-between;
    padding: 65px;
}

main .content-container .text-content {
    flex: 1;
    padding-right: 65px; 
    padding-left: 65px;
}

main .content-container {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    main .content-container {
        flex-direction: column-reverse; 
    }

    main .content-container .text-content,
    main .content-container {
        flex-basis: auto; 
        padding: 0; 
    }
}

.image-content {
    flex: 1;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}
  

/* Game */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

#gameBoard {
    display: grid;
    grid-template-columns: repeat(7, 75px); 
    grid-gap: 10px; 
    justify-content: center;
    padding: 20px; 
    background-color: #007BFF; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.circle {
    width: 75px; 
    height: 75px; 
    background-color: #FFF;
    border: 2px solid #007BFF; 
    border-radius: 50%;
    cursor: pointer;
    display: flex; 
    align-items: center;
    justify-content: center;
}

#scoreboard {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 1.2em; 
    background-color: #F8F9FA;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
    order: 1;
}

#resetBtn {
    display: block;
    padding: 10px 20px;
    margin-top: 20px; 
    margin-left: auto; 
    margin-right: 0; 
    background-color: #007bff; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    flex: 1;
}


footer {
    background-color: rgba(128, 128, 128, 0.3);
    color: white;
    padding: 20px;
    text-align: center;
    width: 100%; 
}


footer a {
    color: #6c63ff;
    text-decoration: none;
}

.footer-content p {
    margin: 5px 0;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.text-box {
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    padding: 20px; 
    border-radius: 8px; 
    margin: 20px 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
